.arrow-container {
  position: relative;
  height: 20vh;
  text-align: center;
}

.unactive {
  display: none;
}

.arrow {
  width: 3vmin;
  height: 3vmin;
  box-sizing: border-box;
  position: absolute;
}

.back-arrow {
  left: 10%;
  top: 55%;
  transform: rotate(-133deg);
}

.next-arrow {
  right: 10%;
  top: 50%;
  transform: rotate(45deg);
}

.arrow:before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: #000000;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}

.arrow:after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #000000;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}

.arrow:hover::after {
  transform: rotate(45deg);
  border-color: rgb(101, 178, 245);
  height: 120%;
}
.arrow:hover::before {
  border-color: rgb(101, 178, 245);
  transform: scale(0.8);
}

.back-container {
  position: relative;
  margin-top: 1vh;
  height: 10vh;
}

.back-arrow-page {
  left: 15%;
  top: 40%;
  transform: rotate(-133deg);
}

.back-page-holder {
  position: absolute;
  top: 38%;
  left: 20%;
}
